body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.full-page-container {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 10%;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
}

.grid-container {
    width: 100%;
    height: 90%;
    background-color: slateblue;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2.5fr;
    height: 90%;
}


.grid-element-1 {
    background-color: plum;
    grid-column: 1;
    grid-row: 1 / span 1;
    height: 100%;
    width: 100%;
    display: flex;
}

.checkbox-input-category+label {
    cursor: pointer;
}

.grid-element-1>form {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-element-1>form>#task-input {
    width: 34em;
    height: 4em;
}

#submit-task {
    display: flex;
    justify-content: center;
}

#submit-task-button {
    width: 10em;
    height: 2em;
}

.grid-element-2 {
    background-color: yellow;
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-list-element {
    width: 90%;
    height: 15%;
    background-color: aqua;
    z-index: 1;
    margin-top: 1em;
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.go-to-project {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1em;
    cursor: pointer;
}

.go-to-project:hover {
    text-decoration: underline;
}

.delete-project {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trashbin-icon:hover {
    transform: scale(1.2);
}


.grid-element-3 {
    background-color: crimson;
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project-overview {
    position: relative;
    margin-top: 1em;
    width: 80%;
    height: 20%;
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    scale: 1;
}

.project-data {
    width: 70%;
    height: 100%;
    background-color: blueviolet;
}

.project-delete-overview {
    width: 30%;
    height: 100%;
    background-color: dodgerblue;
}

.project-overview:hover {
    scale: 1.2;
    translate: 0px 1em;
    height: 30%;
    transition: scale 0.5s ease;
    margin-bottom: 2em;
}

.project-overview-active {
    position: relative;
    margin-top: 1em;
    width: 80%;
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 30%;
    scale: 1.2;
    translate: 0px 1em;
    margin-bottom: 2em;
}