body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.full-page-container {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 10%;
    background-color: #EFBC9B;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 50px;
    font-weight: bold;
    color: #483434;
}

.grid-container {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2.5fr;
    height: 90%;
}

.categories {
    list-style: none;
}


.grid-element-1 {
    background-color: #C2DEDC;
    grid-column: 1;
    grid-row: 1 / span 1;
    height: 100%;
    width: 100%;
    display: flex;
}

.checkbox-input-category+label {
    cursor: pointer;
}

.grid-element-1>form {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-element-1>form>#project-input {
    width: 34em;
    height: 4em;
}

#submit-project {
    display: flex;
    justify-content: center;
}

#submit-project-button {
    width: 10em;
    height: 2em;
    background-color: #EDE4E0;
    border-radius: 4px;
}


#submit-project-button:hover {
    background-color: #F6F0EC;
}

.grid-element-2 {
    background-color: #D6DAC8;
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.project-list-element {
    width: 90%;
    height: 15%;
    background-color: #EAE0BB;
    z-index: 1;
    margin-top: 1em;
    border: 3px #86A789 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.go-to-project {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em;
    cursor: pointer;
}

.go-to-project:hover {
    text-decoration: underline;
}

.delete-project {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trashbin-icon:hover {
    transform: scale(1.2);
}

.grid-element-3 {
    background-color: #FBF3D5;
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.project-overview {
    position: relative;
    margin-top: 1em;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    scale: 1;
    border: 10px solid #86A789;
    /* */
    border-radius: 15px;


}

.project-data {
    width: 70%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.project-overview:hover {
    scale: 1.2;
    translate: 0px 1em;
    height: 30%;
    transition: scale 0.5s ease;
    margin-bottom: 2em;
}

.project-overview-active {
    position: relative;
    margin-top: 1em;
    width: 80%;
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height: 30%;
    scale: 1.2;
    translate: 0px 1em;
    margin-bottom: 2em;
}

.input-to-insert-left {
    width: 60%;
    height: 100%;
    background-color: paleturquoise;
}

.input-to-insert-right {
    width: 40%;
    height: 100%;
    background-color: darksalmon;
}


input[type="date"] {
    background: transparent;
    color: white;
    border-radius: 4px;
}

.tasks {
    margin-top: 1em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.project-data-right-sector {
    width: 30%;
    height: 100%;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
}

.right-sector-upper {
    height: 80em;
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority-dropdown {
    position: relative;
    margin: 0.5em;

}

.priority-dropdown * {
    box-sizing: border-box;
}

.dropdown-toggle-select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2a2f3b;
    border-radius: 1em;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-toggle-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0 0.1em #26489a;
}

.dropdown-toggle-select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
}

.caret-rotate {
    transform: rotate(180deg);
}

.dropdown-options {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px solid #363a43;
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 2em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;

}

.dropdown-options li {
    padding: 0.5em 0.5em;
    margin: 0.2em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.dropdown-options li :hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}

.right-sector-lower {
    height: 500%;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-tasks-overview:hover {
    transform: scale(1.4);
}